ADMIN_API_KEY=change-me

# DB_URL=postgresql://localhost:5432/lockate
# DB_USERNAME=admin
# DB_PASSWORD=1234

# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_PASSWORD=1234

# SERVER_PORT=3118
# ADMIN_UI_ORIGIN=http://localhost:5173
# REQUIRE_API_KEY=false
